
body {
    --cafe-noir: hsla(35, 88%, 16%, 1);
    --moss-green: hsla(72, 25%, 42%, 1);
    --laurel-green: hsla(81, 24%, 66%, 1);
    --tea-green: hsla(112, 49%, 81%, 1);
    --spanish-gray: hsla(233, 4%, 60%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--laurel-green);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

img {
    display:inline;
    margin-left: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--moss-green);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
.unordered-list li {
    display: list-item;
    list-style-type: disc;
}

.ordered-list li {
    display: list-item;
    list-style-type: decimal;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--moss-green);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }
